# Basic Python
## 1. Variables

### 1.1 | Creating variables  
---
Variables are used to store information to be later referenced or manipulated by a computer program.  
In general, variables are defined by their **name**, their **type** and the **data** assigned to them.

In Python, variables are created by assigning them a value using the `=` operator.

In [22]:
a = 1

Here, for example, we have created the variable `a` by assigning it the value 10.  
The value of the variable can be displayed using the `print()` function.

In [23]:
print(a)

1

### 1.2 | Variable name
---
Because computer programs tend to be difficult to read, you may want to use comprehensive variable names to help you navigate through your codes.  
However, some rules apply to how you can name variables in Python:
- Variable names can only contain **alpha-numeric characters** and **underscores** (A-z, 0-9, and _ )
- Variable names are case sensitive (`A` defining another variable than `a`)
- Variable names can't start with a number  

In case of **multi-word variable names**, separate words with underscores or use capital letter at the beginning of each word.  
For example, if you want to associate cell and area you can set your variable name as `cell_area` or `cellArea`.  
Note that for convention, we will avoid using uppercase for the first letter of the variable name.

### 1.3 | Variable type 
---
In Python, the variable type is automatically attributed when the variable is created.

In [24]:
a = 1
b = 1.0
c = 'one' # is similar to c = "ten"

Here, we created 3 variables: 
- `a` as integer or **int**
- `b` as floating point number or **float**
- `c` as a string or **str**

The variable type can be inspected using the `type()` function.

In [25]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

Alternatively, you can use **casting** to impose the variable type.

In [3]:
a = int(1) # will be 1
b = float(1) # will be 1.0
c = str(1) # will be '1'

In [6]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

### 1.4 | Manipulating variables
---
The value of a variable can be modified after its creation.

In [31]:
a = 1
a = 'one'
print(a)

one

Alternatively, this value can be stored in another variable before its modification.

In [1]:
a = 1
b = a
a = 'one'
print(a)
print(b)

one
1

Also, you can create new variables using **arithmetic operators** with pre-existing variables.

In [9]:
a = 1
b = 2
c = a + b
print(a)
print(b)
print(c)

1
2
3

### 1.5 | Multiple assignement
---
To make your codes easier to read, you can assign **multiple values to multiple variables** on a single line.

In [30]:
a, b, c = 1, 1.0, 'one'
print(a,b,c)

1 1.0 one

Here, we created 3 variables `a`, `b` and `c` to which we assigned the values 1, 1.0 and 'one'.  
Note that we also displayed the variable values in one line by separating variable names with commas in the `print()` function.

In the same spirit, it's also possible to assign the **same value to multiple variables** on a single line.

In [29]:
a = b = c = 1
print(a,b,c)

1 1 1